<div class="jumbotron">
  <h1>Merchandise Inventory</h1>
  <button (click)="openDialog()">Add SuperHero</button>
</div>

<table class="table table-striped">
  <tr>
    <th>Image URL</th>
    <th>Label</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr>
    <!-- <td><input type="text" name="displayImage" id=""></td> -->
  </tr>
  <tr *ngFor="let entry of (inventory$|async); let i=index">
    <td><img class="thumbnail" src="{{entry?.displayImage}}"></td>
    <td>{{entry?.label}}</td>
    <td>{{entry?.description}}</td>
    <td>{{entry?.quantity}}</td>
    <td>{{entry?.price}}</td>
    <td><button (click)="removeHero(i, entry)">Remove</button></td>
  </tr>
</table>

<app-add-inventory [showdialog]="showdialog" (isDialogOpen)="updateShowDialog()"></app-add-inventory>
