.input-small {
  width: 50px;
}


.strike {
  text-decoration: line-through;
}

.grey-scale {
  filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
